streamlit
pathlib
scipy
helium
selenium
pandas
Pillow
openpyxl
webdriver_manager
pdfminer.six
chardet
qrcode
PyPDF2
lxml
playsound
SpeechRecognition
pyttsx3
pybarcodes
python-barcode
gtts
openai
csv
PySimpleGUI
pyaudio
Langchain
google-search-results
