streamlit
pandas
openpyxl
selenium
helium
webdriver_manager
webdriver-manager
pdfminer.six
chardet
qrcode
PyPDF2
lxml
playsound
pybarcodes
python-barcode
gtts
numpy
scipy
SpeechRecognition
pathlib
chromedriver_py
xlrd
xlutils
